[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]

braceexpand = "*"
Flask = "*"
Flask-misaka = "*"
Jinja2 = "*"
lxml = "*"
misaka = "*"
nose = "*"
pdoc3 = "*"
Pillow = "*"
pyheif = "*"
pyparsing = "*"
python-dateutil = ">=2.7"
python-frontmatter = "*"
pytz = "*"
titlecase = "*"
wand = "*"
watchdog = "*"
whatimage = "*"

[requires]

python_version = "3"
