alpine-sdk
autoconf
automake
bash
exiftool
ffmpeg
fontconfig
fontconfig-dev
freetype
freetype-dev
ghostscript
ghostscript-dev
ghostscript-fonts
gifsicle
lcms2
lcms2-dev
libde265-dev
libffi-dev
libgomp
libheif-dev
libjpeg-turbo
libjpeg-turbo-dev
libpng
libpng-dev
libtool
libwebp
libwebp-dev
libxml2-dev
openexr
openexr-dev
py3-lxml
py3-pip
py3-wheel
python3
python3-dev
ruby
ruby-dev
tiff
tiff-dev
tiff-dev
x265
x265-dev
zlib
zlib-dev
