automake
autotools-dev
build-essential
curl
exiftool
ffmpeg
gifsicle
git
imagemagick
libde265-dev
libheif-dev
libtool
pkg-config
python3-dev
python3-misaka
python3-pip
python3.8-dev
ruby
ruby-dev
ruby-sass
zsh
